<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <span class="text-primary">
          <!-- logo svg sende zaten var -->
          <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- ... SVG ... -->
          </svg>
        </span>
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">Kentra</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left d-block d-xl-none align-middle"></i>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>
  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <!-- Dashboard (herkes) -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link" data-route="dashboard">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate">Dashboard</div>
      </a>
    </li>

    <!-- ================= FINANS ================= -->
    <!-- Header'ı permission ile kontrol ediyoruz -->
    <li class="menu-header small text-uppercase" data-permission="DUES_VIEW">
      <span class="menu-header-text">Finans</span>
    </li>

    <li class="menu-item" data-permission="DUES_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="dues">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <div class="text-truncate">Aidat</div>
      </a>
    </li>

    <li class="menu-item" data-permission="LEDGER_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="ledger">
        <i class="menu-icon tf-icons bx bx-receipt"></i>
        <div class="text-truncate">Hesap Hareketleri</div>
      </a>
    </li>

    <li class="menu-item" data-permission="DEBT_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="debts">
        <i class="menu-icon tf-icons bx bx-transfer-alt"></i>
        <div class="text-truncate">Borç / Alacak</div>
      </a>
    </li>

    <li class="menu-item" data-permission="REPORTS_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="reports">
        <i class="menu-icon tf-icons bx bx-bar-chart-square"></i>
        <div class="text-truncate">Raporlar</div>
      </a>
    </li>

    <!-- ================= GÜVENLİK ================= -->
    <li class="menu-header small text-uppercase" data-permission="VISITS_VIEW">
      <span class="menu-header-text">Güvenlik</span>
    </li>

    <li class="menu-item" data-permission="VISITS_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="visits">
        <i class="menu-icon tf-icons bx bx-log-in-circle"></i>
        <div class="text-truncate">Giriş / Çıkış</div>
      </a>
    </li>

    <li class="menu-item" data-permission="FACILITY_CHECKIN">
      <a href="javascript:void(0);" class="menu-link" data-route="facilityCheckin">
        <i class="menu-icon tf-icons bx bx-qr-scan"></i>
        <div class="text-truncate">Tesis Giriş Kontrol</div>
      </a>
    </li>

    <!-- ================= SOSYAL ALANLAR ================= -->
    <li class="menu-header small text-uppercase" data-permission="FACILITY_VIEW">
      <span class="menu-header-text">Sosyal Alanlar</span>
    </li>

    <li class="menu-item" data-permission="FACILITY_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="facilities">
        <i class="menu-icon tf-icons bx bx-dumbbell"></i>
        <div class="text-truncate">Tesisler</div>
      </a>
    </li>

    <li class="menu-item" data-permission="FACILITY_BOOK">
      <a href="javascript:void(0);" class="menu-link" data-route="myBookings">
        <i class="menu-icon tf-icons bx bx-calendar"></i>
        <div class="text-truncate">Rezervasyonlarım</div>
      </a>
    </li>

    <li class="menu-item" data-permission="FACILITY_VIEW">
      <a href="javascript:void(0);" class="menu-link" data-route="myClasses">
        <i class="menu-icon tf-icons bx bx-run"></i>
        <div class="text-truncate">Derslerim</div>
      </a>
    </li>

    <!-- Sosyal Alan Yönetimi (sadece manage olanlar) -->
    <li class="menu-item" data-permission="FACILITY_MANAGE">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-buildings"></i>
        <div class="text-truncate">Sosyal Alan Yönetimi</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link" data-route="facilitiesManage">
            <div class="text-truncate">Tesisler</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link" data-route="reservationsManage">
            <div class="text-truncate">Rezervasyonlar</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link" data-route="trainersManage">
            <div class="text-truncate">Eğitmenler</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</aside>
